<div class="menu padding">
    <div>
        <a [routerLink]="['../edit-kitchen']">Edit Kitchen</a>
    </div>
    <div>
        <a [routerLink]="['/user/bob']">Add Gallery Image</a>
    </div>
    <div>
        <a [routerLink]="['/user/bob']">Add Event</a>
    </div>
    <div>
        <a [routerLink]="['/user/bob']">Add Gallery Image</a>
    </div>
    <div>
        <a [routerLink]="['/user/bob']">Add Post</a>
    </div>
    <div>
        <a [routerLink]="['/user/bob']">View Details</a>
    </div>
</div>